<style>
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .nav-item {
    list-style: none;
  }

  .nav-link {
    color: #6c757d;
    text-decoration: none;
    padding: 5px 0;
    cursor: pointer;
  }

</style>

<footer>
  <div class="footer-content">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link">Chăm sóc khách hàng</a></li>
      <li class="nav-item"><a class="nav-link">Trung tâm hỗ trợ</a></li>
      <li class="nav-item"><a class="nav-link">Shop Mail</a></li>
      <li class="nav-item"><a class="nav-link">Hướng dẫn mua hàng</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link">Giới thiệu</a></li>
      <li class="nav-item"><a class="nav-link">Tuyển dụng</a></li>
      <li class="nav-item"><a class="nav-link">Điều khoản</a></li>
      <li class="nav-item"><a class="nav-link">Chính sách bảo mật</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link">Giày thể thao</a></li>
      <li class="nav-item"><a class="nav-link">Bóng thi đấu</a></li>
      <li class="nav-item"><a class="nav-link">Áo thi đấu</a></li>
      <li class="nav-item"><a class="nav-link">Các sản phẩm khác</a></li>
    </ul>
  </div>
  <p class="text-center text-muted">© 2024 - Bản quyền thuộc về Sportswear</p>
</footer>